src/main/resources/schema/trait.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="Trait" type="TraitType"/>
	
	<xs:complexType name="TraitType">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" />
			<xs:element name="Type" type="xs:string" />
			<xs:element name="Description" type="xs:string" />
			<xs:element name="Incompatible" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="With" type="xs:string"
							maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>